<h1>Your TODO LIST</h1>

<h3>TODOの新規登録</h3>

<%= render "shared/errors", obj: @task %>
<%= form_for @task do |f| %>
  <table>
    <tr>
    	<td><%= f.label :name %></td>
    </tr>
    <tr>
    	<td><%= f.text_field :name %></td>
    </tr>
    <tr>
        <td><%= f.label :description %></td>
    </tr>
    <tr>
        <td><%= f.text_area :description %></td>
    </tr>


    <tr>
    	<td><%= f.label :urgency %></td>
    </tr>
    <tr>
    	<td><%= f.select :urgency, Task.urgencies_i18n.invert %></td>
    </tr>

    <tr>
    	<td><%= f.label :importance %></td>
    </tr>
    <tr>
    	<td><%= f.select :importance, Task.importances_i18n.invert %></td>
    </tr>

    <tr>
    	<td><%= f.label :status %></td>
    </tr>
    <tr>
    	<td><%= f.select :status, Task.statuses_i18n.invert %></td>
    </tr>

    <tr>
    	<td><%= f.submit "新しいタスクを登録する" %></td>
    </tr>
  </table>
<% end %>



<h3>TODOs</h3>
<% if @tasks_should_work_on %>
    <ul>
    	<% @tasks_should_work_on.each do |task| %>
        		<li><%= task.name %></li>
                <p><%= task.description %></p>
        		<p><%= task.urgency_i18n %> | <%=task.importance_i18n%> | <%=task.status_i18n%> | <%= link_to "完了", task, method: :patch %> | <%= link_to "削除", task, method: :delete, data: {confirm: "本当に削除しますか?"} %></p>
    	<% end %>
    </ul>
    <%= paginate @tasks_should_work_on %>
<% else %>
    <p>TODOはありません</p>
<% end %>

<h3>TODOs Rescently Done</h3>
<% if @tasks_rescently_done %>
    <ul>
    	<% @tasks_rescently_done.each do |task| %>
    		<li><%= task.name %></li>
            <p><%= task.description %></p>
    		<p><%= task.urgency_i18n%> | <%=task.importance_i18n%> | <%= task.status_i18n %>
    	<% end %>
    </ul>
<% else %>
	<p>最近完了したTODOはありません</p>
<% end %>


