<h1>タスクの新規作成</h1>

<%= form_for @task do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <% priority_options = [["Low", 1],["Middle", 2],["High", 3]] %>
  <%= f.label :urgency %>
  <%= f.select :urgency, priority_options %>

  <%= f.label :importance %>
  <%= f.select :importance, priority_options %>

  <% status_options = [["Not Yet", 1],["WIP", 2],["Done", 3]] %>
  <%= f.label :status %>
  <%= f.select :status, status_options %>

  <%= f.submit "新しいタスクを登録する" %>

<% end %>