<%= form_for @group do |f| %>
	<table>
		<tr><td><%= f.label :name %></td></tr>
		<tr><td><%= f.text_field :name %></td></tr>
		<tr><td><%= f.label :description %></td></tr>
		<tr><td><%= f.text_area :description %></td></tr>
	</table>
	<%= f.hidden_field :created_by, value: current_user.id %>
	<%= f.submit %>
<% end %>