<header>
	<nav>
			<% if user_signed_in? %>
				Logged in as <strong><%= current_user.email %></strong>
				<%= link_to 'プロフィール変更', edit_user_registration_path %> |
				<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
			<% else %>
				<%= link_to "サインイン", new_user_registration_path %> |
				<%= link_to "ログイン", new_user_session_path %>
			<% end %>
			<% if (params[:controller] == 'groups' && params[:action] != 'new') || (params[:controller] == 'group_members') %>
				 | <%= link_to "メンバー一覧", group_group_members_path(group_id: current_group.id) %>
				<% if current_group.admin?(current_user) %>
					| <%= link_to "メンバー登録", new_group_group_member_path(group_id: current_group.id) %>
					| <%= link_to "グループ編集", [:edit, current_group] %>
					| <%= link_to "グループ削除", group_path(id: current_group.id), method: :delete, data: {confirm: "本当に削除しますか?"} %>
				<% end %>
			<% end %>
	</nav>
</header>