<table>
  <tr>
    <th>日付</th>
    <th>未完了タスク数</th>
    <th>完了タスク数</th>
    <th>残りタスク率</th>
    <th>追加タスク数</th>
  </tr>
  <% obj.each do |key, value| %>
    <tr>
      <td><%= key.strftime('%Y/%m/%d') %></td>
      <td><%= value[0] %></td>
      <td><%= value[1] %></td>
      <td><%= number_to_percentage(value[2], precision: 1) %></td>
      <td><%= value[3] %></td>
    </tr>
  <% end %>
</table>